In [8]:
import pandas as pd
import numpy as np

na_vals = ["NA", "Missing"]
df = pd.read_csv("/content/survey_results_public.csv", index_col="Respondent", na_values=na_vals) # na_values=
df_schema = pd.read_csv("/content/survey_results_schema.csv")

In [9]:
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [ ]:
df.head()

In [16]:
df["YearsCode"].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [20]:
df["YearsCode"].replace("Less than 1 year", 0, inplace= True)
df["YearsCode"].replace("More than 50 years", 51, inplace=True)

In [21]:
df["YearsCode"].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [24]:
df["YearsCode"].astype(float).mean() # default skipna=True to ignore nan values

11.662114216834588

In [28]:
df["YearsCode"].astype(float).median()

9.0

In [33]:
print(sum([1.0, 2.0, nan]))

NameError: ignored